.list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e8eaf6;
    min-height: 70vh;
    padding: 20px;

    .product-card{
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        min-height: 300px;
    }

    .product-image{
        height: 200px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-details{
        padding: 20px;

        .product-name {
            font-size: 20px;
            font-weight: bold;
            color: #ec407a;
            margin-bottom: 10px;
        }

        .product-description{
            margin-bottom: 10px;
        }

        .product-info{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .info-row{
                flex: 0 0 50%;
                display: flex;
                align-items: center;
                margin-bottom: 8px;
            }

            .info-label{
                font-weight: 10px;
                margin-right: 5px;
            }

            .info-value{
                font-weight: bold;
            }
        }
    }

    .operations{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .update-button, .delete-button{
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    span {
        font-size: 18px;
        color: black;
        margin-top: 10px;
    }
}