.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .search-input{
        width: 300px;
        margin-right: 15px;

        input{
            padding-right: 40px;
        }
    }
}