.navbar{
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.spacer {
    flex: 1;
}

button{
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
}

button.active{
    font-weight: 600;
}


.buttonmat {
    color: black;
    text-transform: uppercase;
    padding : 0 5px;
}