<div class="container">
    <h1>Conditions Générales d'Utilisation de PGear</h1>
    <p><strong>Dernière mise à jour : 10 juin 2024</strong></p>
    
    <p>Bienvenue sur PGear, votre destination pour l'achat de périphériques de gaming. En accédant et en utilisant notre site web, vous acceptez de vous conformer aux présentes Conditions Générales d'Utilisation (ci-après les "Conditions"). Veuillez les lire attentivement avant de naviguer sur notre site.</p>
    
    <h2>1. Acceptation des Conditions</h2>
    <p>En accédant à notre site, vous acceptez d'être lié par ces Conditions ainsi que par notre politique de confidentialité. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser notre site.</p>
    
    <h2>2. Modifications des Conditions</h2>
    <p>PGear se réserve le droit de modifier ces Conditions à tout moment. Nous vous informerons de tout changement en publiant les nouvelles Conditions sur notre site. Votre utilisation continue du site après la publication des modifications constitue votre acceptation des nouvelles Conditions.</p>
    
    <h2>3. Utilisation du Site</h2>
    <ul>
        <li><strong>Éligibilité</strong> : Vous devez être âgé d'au moins 18 ans ou avoir atteint l'âge de majorité dans votre juridiction pour utiliser notre site.</li>
        <li><strong>Compte Utilisateur</strong> : Pour acheter des produits sur PGear, vous devez créer un compte. Vous êtes responsable de la confidentialité de vos informations de compte et de toutes les activités effectuées sous votre compte.</li>
        <li><strong>Activités Interdites</strong> : Vous ne pouvez pas utiliser notre site à des fins illégales ou non autorisées. Vous acceptez de ne pas interférer avec le fonctionnement du site ou de tenter d'accéder à des zones sécurisées du site sans autorisation.</li>
    </ul>
    
    <h2>4. Produits et Commandes</h2>
    <ul>
        <li><strong>Descriptions des Produits</strong> : Nous nous efforçons de fournir des descriptions précises des produits. Cependant, nous ne garantissons pas que les descriptions soient complètes ou exemptes d'erreurs.</li>
        <li><strong>Disponibilité</strong> : La disponibilité des produits peut varier et nous nous réservons le droit de modifier ou de retirer des produits à tout moment sans préavis.</li>
        <li><strong>Prix</strong> : Les prix des produits sont indiqués en euros et incluent toutes les taxes applicables. Les frais de livraison sont en sus et seront précisés lors de la finalisation de votre commande.</li>
    </ul>
    
    <h2>5. Paiement</h2>
    <ul>
        <li><strong>Méthodes de Paiement</strong> : Nous acceptons diverses méthodes de paiement, y compris les cartes bancaires et PayPal. En fournissant des informations de paiement, vous nous autorisez à débiter le montant total de votre commande.</li>
        <li><strong>Sécurité</strong> : Nous utilisons des mesures de sécurité pour protéger vos informations de paiement. Cependant, nous ne pouvons garantir la sécurité absolue des transactions effectuées en ligne.</li>
    </ul>
    
    <h2>6. Livraison</h2>
    <ul>
        <li><strong>Délais de Livraison</strong> : Nous nous efforçons de livrer vos produits dans les délais indiqués lors de la commande. Cependant, les délais de livraison sont donnés à titre indicatif et peuvent varier.</li>
        <li><strong>Responsabilité</strong> : PGear n'est pas responsable des retards de livraison causés par des événements indépendants de notre volonté.</li>
    </ul>
    
    <h2>7. Retours et Remboursements</h2>
    <ul>
        <li><strong>Politique de Retour</strong> : Vous pouvez retourner les produits dans un délai de 14 jours à compter de la réception pour un remboursement ou un échange, à condition que les produits soient dans leur état original.</li>
        <li><strong>Procédure</strong> : Pour initier un retour, veuillez contacter notre service client. Les frais de retour sont à la charge de l'acheteur sauf en cas de produit défectueux ou erreur de notre part.</li>
    </ul>
    
    <h2>8. Propriété Intellectuelle</h2>
    <p>Tous les contenus présents sur le site PGear, y compris les textes, graphiques, logos, images et logiciels, sont la propriété de PGear ou de ses fournisseurs et sont protégés par les lois sur la propriété intellectuelle.</p>
    
    <h2>9. Limitation de Responsabilité</h2>
    <p>PGear ne peut être tenu responsable des dommages directs, indirects, accessoires ou consécutifs résultant de l'utilisation ou de l'incapacité à utiliser notre site ou nos produits.</p>
    
    <h2>10. Droit Applicable</h2>
    <p>Ces Conditions sont régies par les lois françaises. Tout litige relatif à leur interprétation ou à leur exécution sera soumis à la compétence exclusive des tribunaux français.</p>
    
    <h2>11. Contact</h2>
    <p>Pour toute question concernant ces Conditions, veuillez nous contacter à l'adresse suivante : <a href="mailto:support@pgear.com">support@pgear.com</a>.</p>
    
    <p>En utilisant notre site, vous reconnaissez avoir lu et compris ces Conditions et acceptez de vous y conformer.</p>
    
    <p>Merci de faire confiance à PGear pour vos besoins en périphériques de gaming.</p>
    

    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" class="close-button" color="accent">Fermer</button>
        <button mat-button [mat-dialog-close]="true" class="accept-button" (click)="acceptClick()">Accepter</button>
    </mat-dialog-actions>
</div>