<div class="container">
    <mat-card>
        <mat-card-title>Inscription</mat-card-title>
        <mat-card-content>
            <form [formGroup]="signupForm">
                <mat-form-field appearance="outline">
                    <mat-label>Nom utilisateur</mat-label>
                    <input matInput formControlName="username" placeholder="Nom utilisateur" required>

                    <mat-error *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
                        Le nom utilisateur n'est pas valide.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" required>

                    <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                        L'email n'est pas valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password" placeholder="Mot de passe" required>

                    <button mat-icon-button matSuffix (click)="TogglePassWordVisibility()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                        Le mot de passe n'est pas valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmer mot de passe</mat-label>
                    <input matInput type="{{ hidePassword ? 'password' : 'text' }}" formControlName="confirmpassword" 
                    placeholder="Confirmer mot de passe" required>

                    <button mat-icon-button matSuffix (click)="TogglePassWordVisibility()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    <mat-error *ngIf="signupForm.get('confirmpassword')?.invalid && signupForm.get('confirmpassword')?.touched">
                        Le mot de passe n'est pas valide
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" type="submit" [disabled]="signupForm.invalid" (click)="OnSubmit()">
                    S'inscrire
                </button>
            </form>

            <mat-card-actions>
                <button mat-button color="accent" routerLink="/login">Vous avez un compte? Connectez-vous</button>
            </mat-card-actions>

        </mat-card-content>
    </mat-card>
</div>